USE [master]
GO
/****** Object:  Database [BankDB2]    Script Date: 2021-08-08 4:32:48 PM ******/
DROP DATABASE BankDB2

CREATE DATABASE [BankDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BankDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BankDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankDB2]
GO
/****** Object:  User [sa]    Script Date: 2021-08-08 4:32:48 PM ******/
CREATE USER [sa] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sa]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sa]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountDid] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [int] NOT NULL,
	[PreviousBalance] [money] NOT NULL,
	[CurrentBalance] [money] NOT NULL,
	[CurrencyCode] [nchar](10) NOT NULL,
	[OpenDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[BranchDid] [int] NOT NULL,
	[UserDid] [int] NOT NULL,
	[AccountTypeDid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountDid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[AccountTypeDid] [int] IDENTITY(1,1) NOT NULL,
	[AccountTypeId] [nchar](10) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[InterestRate] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountTypeDid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Bankdid] [int] IDENTITY(1,1) NOT NULL,
	[Bankid] [nchar](10) NOT NULL,
	[BankName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bankdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchDid] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [nvarchar](10) NOT NULL,
	[BranchName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](10) NOT NULL,
	[CityDid] [int] NOT NULL,
	[Bankdid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchDid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityDid] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Province] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityDid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[CurrencyDID] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyCode] [nchar](10) NOT NULL,
	[CurrencyDescription] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CurrencyDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[LoginHistoryDid] [int] IDENTITY(1,1) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogOutTime] [datetime] NOT NULL,
	[UserDid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginHistoryDid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionDid] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDetails] [nvarchar](100) NOT NULL,
	[Staus] [nvarchar](10) NOT NULL,
	[TransactionAmount] [money] NOT NULL,
	[CurrencyDid] [int] NOT NULL,
	[TransactionTypeDid] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserDid] [int] NOT NULL,
	[AccountDid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionDid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionType]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionType](
	[TransactionTypeDid] [int] IDENTITY(1,1) NOT NULL,
	[TransactionTypeId] [nchar](10) NOT NULL,
	[Description] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionTypeDid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserDid] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[DOB] [date] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[MobileNumber] [nvarchar](10) NOT NULL,
	[SinNumber] [nvarchar](10) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[CityDid] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserDid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccountModification]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccountModification](
	[Did] [int] IDENTITY(1,1) NOT NULL,
	[UserDid] [int] NOT NULL,
	[UpdatedField] [nvarchar](20) NOT NULL,
	[OldValue] [nvarchar](50) NOT NULL,
	[NewValue] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCreditPoints]    Script Date: 2021-08-08 4:32:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCreditPoints](
	[UserCreditPointDId] [int] IDENTITY(1,1) NOT NULL,
	[UserDid] [int] NOT NULL,
	[Points] [int] NOT NULL,
	[CreditLimit] [money] NOT NULL,
	[CurrencyDID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserCreditPointDId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountDid], [AccountNumber], [PreviousBalance], [CurrentBalance], [CurrencyCode], [OpenDate], [EndDate], [IsActive], [BranchDid], [UserDid], [AccountTypeDid]) VALUES (1, 524248096, 2000.0000, 1500.0000, N'CAD       ', CAST(N'2021-01-11T00:00:00.000' AS DateTime), CAST(N'2025-01-11T00:00:00.000' AS DateTime), 1, 7, 2, 2)
INSERT [dbo].[Account] ([AccountDid], [AccountNumber], [PreviousBalance], [CurrentBalance], [CurrencyCode], [OpenDate], [EndDate], [IsActive], [BranchDid], [UserDid], [AccountTypeDid]) VALUES (3, 491688870, 17000.0000, 17000.0000, N'CAD       ', CAST(N'2020-02-12T00:00:00.000' AS DateTime), CAST(N'2024-02-12T00:00:00.000' AS DateTime), 1, 7, 9, 2)
INSERT [dbo].[Account] ([AccountDid], [AccountNumber], [PreviousBalance], [CurrentBalance], [CurrencyCode], [OpenDate], [EndDate], [IsActive], [BranchDid], [UserDid], [AccountTypeDid]) VALUES (4, 455603546, 2920.7200, 3200.7200, N'USD       ', CAST(N'2008-12-09T00:00:00.000' AS DateTime), CAST(N'2025-12-09T00:00:00.000' AS DateTime), 0, 9, 13, 3)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountType] ON 

INSERT [dbo].[AccountType] ([AccountTypeDid], [AccountTypeId], [Description], [InterestRate]) VALUES (1, N'SAV       ', N'Saving Account', 4)
INSERT [dbo].[AccountType] ([AccountTypeDid], [AccountTypeId], [Description], [InterestRate]) VALUES (2, N'CHEQ      ', N'Checking Account', 0.2)
INSERT [dbo].[AccountType] ([AccountTypeDid], [AccountTypeId], [Description], [InterestRate]) VALUES (3, N'INV       ', N'Investment Account', 2)
SET IDENTITY_INSERT [dbo].[AccountType] OFF
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([Bankdid], [Bankid], [BankName]) VALUES (11, N'TB_01     ', N'Bank of Thunder Bay')
SET IDENTITY_INSERT [dbo].[Bank] OFF
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([BranchDid], [BranchId], [BranchName], [Address], [PhoneNumber], [CityDid], [Bankdid]) VALUES (7, N'TB_HS', N'TB Honrby St', N'1010 Hornby St, Vancouver, BC V6Z 1V6', N'6046655138', 3, 11)
INSERT [dbo].[Branch] ([BranchDid], [BranchId], [BranchName], [Address], [PhoneNumber], [CityDid], [Bankdid]) VALUES (9, N'TB_BW', N'TB Broadway', N'505 W Broadway, Vancouver, BC V5Z 1E7', N'6046658650', 3, 11)
INSERT [dbo].[Branch] ([BranchDid], [BranchId], [BranchName], [Address], [PhoneNumber], [CityDid], [Bankdid]) VALUES (10, N'TB_HM', N'TB Homer', N'996 Homer St, Vancouver, BC V6B 2W7', N'6046650747', 3, 11)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityDid], [City], [Province], [Country]) VALUES (1, N'Thunder Bay', N'ON', N'CAN')
INSERT [dbo].[City] ([CityDid], [City], [Province], [Country]) VALUES (2, N'Toronto', N'ON', N'CAN')
INSERT [dbo].[City] ([CityDid], [City], [Province], [Country]) VALUES (3, N'Vancouver', N'BC', N'CAN')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Currency] ON 

INSERT [dbo].[Currency] ([CurrencyDID], [CurrencyCode], [CurrencyDescription]) VALUES (1, N'CAD       ', N'Canadian Dollar')
INSERT [dbo].[Currency] ([CurrencyDID], [CurrencyCode], [CurrencyDescription]) VALUES (2, N'VND       ', N'Vietnam Dong')
INSERT [dbo].[Currency] ([CurrencyDID], [CurrencyCode], [CurrencyDescription]) VALUES (3, N'USD       ', N'US Dollar')
SET IDENTITY_INSERT [dbo].[Currency] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginHistory] ON 

INSERT [dbo].[LoginHistory] ([LoginHistoryDid], [LoginTime], [LogOutTime], [UserDid]) VALUES (2, CAST(N'2021-08-07T17:30:00.000' AS DateTime), CAST(N'2021-08-07T18:00:00.000' AS DateTime), 2)
INSERT [dbo].[LoginHistory] ([LoginHistoryDid], [LoginTime], [LogOutTime], [UserDid]) VALUES (3, CAST(N'2020-12-20T00:12:32.000' AS DateTime), CAST(N'2020-12-20T00:31:00.000' AS DateTime), 2)
INSERT [dbo].[LoginHistory] ([LoginHistoryDid], [LoginTime], [LogOutTime], [UserDid]) VALUES (6, CAST(N'2020-12-20T09:47:11.000' AS DateTime), CAST(N'2020-12-20T10:14:24.000' AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[LoginHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TransactionDid], [TransactionDetails], [Staus], [TransactionAmount], [CurrencyDid], [TransactionTypeDid], [CreatedDate], [UserDid], [AccountDid]) VALUES (1, N'Withdraw $500', N'SUC', 500.0000, 1, 11, CAST(N'2021-08-07T00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[Transaction] ([TransactionDid], [TransactionDetails], [Staus], [TransactionAmount], [CurrencyDid], [TransactionTypeDid], [CreatedDate], [UserDid], [AccountDid]) VALUES (3, N'Received $500', N'SUC', 500.0000, 1, 10, CAST(N'2021-08-07T00:00:00.000' AS DateTime), 15, 6)
INSERT [dbo].[Transaction] ([TransactionDid], [TransactionDetails], [Staus], [TransactionAmount], [CurrencyDid], [TransactionTypeDid], [CreatedDate], [UserDid], [AccountDid]) VALUES (4, N'Walmart Store #3124 Thunder Bay', N'HOL', 119.2400, 1, 11, CAST(N'2020-03-21T00:00:00.000' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionType] ON 

INSERT [dbo].[TransactionType] ([TransactionTypeDid], [TransactionTypeId], [Description]) VALUES (10, N'DEB       ', N'Debit')
INSERT [dbo].[TransactionType] ([TransactionTypeDid], [TransactionTypeId], [Description]) VALUES (11, N'CRE       ', N'Credit')
SET IDENTITY_INSERT [dbo].[TransactionType] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserDid], [FirstName], [LastName], [DOB], [Address], [Username], [Password], [Email], [MobileNumber], [SinNumber], [CreateDate], [UserRole], [CityDid]) VALUES (2, N'Quan', N'Bui', CAST(N'1997-10-27' AS Date), N'960 William St, Thunder Bay', N'buiquan2710', N'123', N'buiquan2710@gmail.com', N'4375335833', N'123456789', CAST(N'2021-01-11T00:00:00.000' AS DateTime), N'admin', 1)
INSERT [dbo].[User] ([UserDid], [FirstName], [LastName], [DOB], [Address], [Username], [Password], [Email], [MobileNumber], [SinNumber], [CreateDate], [UserRole], [CityDid]) VALUES (9, N'Linda', N'Pyle', CAST(N'1991-06-07' AS Date), N'1795 Parkdale Avenue', N'dale', N'oa6Hoh4ebie', N'6o7q2hb2oj9@temporary-mail.net', N'9055457304', N'437748445', CAST(N'2021-01-11T00:00:00.000' AS DateTime), N'admin', 2)
INSERT [dbo].[User] ([UserDid], [FirstName], [LastName], [DOB], [Address], [Username], [Password], [Email], [MobileNumber], [SinNumber], [CreateDate], [UserRole], [CityDid]) VALUES (10, N'Sue', N'Veilleux', CAST(N'1981-09-22' AS Date), N'758 Bay Street', N'adrian2005', N'kienooDa5', N'guf115l1ag@temporary-mail.net', N'6478922910', N'372073049', CAST(N'2021-01-11T00:00:00.000' AS DateTime), N'user', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccountModification] ON 

INSERT [dbo].[UserAccountModification] ([Did], [UserDid], [UpdatedField], [OldValue], [NewValue], [ModifiedDate]) VALUES (1, 2, N'LastName', N'Bui Jr', N'Bui', CAST(N'2021-08-07T00:00:00.000' AS DateTime))
INSERT [dbo].[UserAccountModification] ([Did], [UserDid], [UpdatedField], [OldValue], [NewValue], [ModifiedDate]) VALUES (2, 9, N'Address', N'989 Sherbrooke Ouest', N'1795 Parkdale Avenue', CAST(N'2021-08-07T18:05:40.697' AS DateTime))
INSERT [dbo].[UserAccountModification] ([Did], [UserDid], [UpdatedField], [OldValue], [NewValue], [ModifiedDate]) VALUES (3, 2, N'Address', N'1964 Merivale Road', N'960 William St, Thunder Bay', CAST(N'2021-08-07T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAccountModification] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCreditPoints] ON 

INSERT [dbo].[UserCreditPoints] ([UserCreditPointDId], [UserDid], [Points], [CreditLimit], [CurrencyDID]) VALUES (1, 2, 689, 500.0000, 1)
INSERT [dbo].[UserCreditPoints] ([UserCreditPointDId], [UserDid], [Points], [CreditLimit], [CurrencyDID]) VALUES (3, 9, 1200, 2000.0000, 1)
INSERT [dbo].[UserCreditPoints] ([UserCreditPointDId], [UserDid], [Points], [CreditLimit], [CurrencyDID]) VALUES (4, 10, 524, 500.0000, 3)
SET IDENTITY_INSERT [dbo].[UserCreditPoints] OFF
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('CAD') FOR [CurrencyCode]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (sysdatetime()) FOR [OpenDate]
GO
ALTER TABLE [dbo].[Transaction] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (sysdatetime()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserAccountModification] ADD  DEFAULT (sysdatetime()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccTy] FOREIGN KEY([AccountTypeDid])
REFERENCES [dbo].[AccountType] ([AccountTypeDid])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccTy]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Branch] FOREIGN KEY([BranchDid])
REFERENCES [dbo].[Branch] ([BranchDid])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Branch]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_User] FOREIGN KEY([UserDid])
REFERENCES [dbo].[User] ([UserDid])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_User]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_Bank] FOREIGN KEY([Bankdid])
REFERENCES [dbo].[Bank] ([Bankdid])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_Bank]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_City] FOREIGN KEY([CityDid])
REFERENCES [dbo].[City] ([CityDid])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_City]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHisto_User] FOREIGN KEY([UserDid])
REFERENCES [dbo].[User] ([UserDid])
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHisto_User]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transactio_Currency] FOREIGN KEY([CurrencyDid])
REFERENCES [dbo].[Currency] ([CurrencyDID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transactio_Currency]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Account] FOREIGN KEY([AccountDid])
REFERENCES [dbo].[Account] ([AccountDid])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Account]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_TransacTy] FOREIGN KEY([TransactionTypeDid])
REFERENCES [dbo].[TransactionType] ([TransactionTypeDid])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_TransacTy]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_User] FOREIGN KEY([UserDid])
REFERENCES [dbo].[User] ([UserDid])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_City] FOREIGN KEY([CityDid])
REFERENCES [dbo].[City] ([CityDid])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_City]
GO
ALTER TABLE [dbo].[UserAccountModification]  WITH CHECK ADD  CONSTRAINT [FK_UserAccoun_User] FOREIGN KEY([UserDid])
REFERENCES [dbo].[User] ([UserDid])
GO
ALTER TABLE [dbo].[UserAccountModification] CHECK CONSTRAINT [FK_UserAccoun_User]
GO
ALTER TABLE [dbo].[UserCreditPoints]  WITH CHECK ADD  CONSTRAINT [FK_UserCredit_Currency] FOREIGN KEY([CurrencyDID])
REFERENCES [dbo].[Currency] ([CurrencyDID])
GO
ALTER TABLE [dbo].[UserCreditPoints] CHECK CONSTRAINT [FK_UserCredit_Currency]
GO
ALTER TABLE [dbo].[UserCreditPoints]  WITH CHECK ADD  CONSTRAINT [FK_UserCredit_User] FOREIGN KEY([UserDid])
REFERENCES [dbo].[User] ([UserDid])
GO
ALTER TABLE [dbo].[UserCreditPoints] CHECK CONSTRAINT [FK_UserCredit_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CHK_Email] CHECK  (([Email] like '%___@___%'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CHK_Email]
GO
USE [master]
GO
